@font-face {
  font-family: pressStart2P;
  src: url('../fonts/PressStart2P.ttf');
  font-weight: normal;
  font-style: normal;
  color: white;
}

/* md (tablets, 768px(300%) and up) */
@media (max-width: 768.98px) {
  .box_header {
    height: 60px;
    padding-right: 40px;
    background-color: transparent;
  }

  .img_logo {
    width: 115px;
    height: 60px;
    margin-left: 50px;
  }

  .navbar-nav {
    background-color: white;
    padding: 5px;
    width: 80px;
    height: 100px;
    position: absolute;
    border-radius: 10px;
    right: 12px;
  }

  .toggler_icon {
    width: 30%;
    display: block;
  }

  .toggler_icon>a>svg {
    width: 20px;
    height: 20px;
  }

  .init_icon {
    display: none;
  }

  .toggler_btn {
    width: 40px;
    height: 40px;
  }

  .home_head {
    border-top: 1px solid  #777272;
    margin-top: 10px;
    width: 100%;
    padding-top: 5px;
    padding-left: 8px;
    /* background-color: rgb(111, 152, 240); */
    position: relative;
  }

  .nft_head {
    width: 100%;
    margin-top: 10px;
    padding-left: 8px;
    /* background-color: rgb(201, 181, 80); */
    position: relative;
  }

  .whitepaper_head {
    width: 100%;
    margin-top: 10px;
    padding-left: 8px;
    /* background-color: rgb(240, 111, 186); */
  }

  .home_head>a {
    padding: 0px;
  }

  .home_head>a>img {
    content: url("../images/header/home2.png");
    /* background-color: aquamarine; */
    width: 50px;
    height: 10px;
  }

  .nft_head>a {
    padding: 0px;
  }

  .nft_head>a>img {
    /* background-color: aquamarine; */
    content: url("../images/header/mint3.png");
    width: 65px;
    height: 10px;
  }

  .whitepaper_head>a {
    padding: 0px;
  }

  .whitepaper_head>a>img {
    /* background-color: aquamarine; */
    content: url("../images/header/whit3.png");
    width: 65px;
    height: 10px;
  }
  .game_head{
    display: none;

    /* background-color: rgb(90, 165, 96); */
  }
  .register {
    display: block;
    padding: 0px;
    margin-left: 6px;
    /* width:80px;
    height: 20px; */
    /* background-color: rgb(111, 240, 184); */
  }

  .register>a>img {
    width:60px;
    height: 15px;
  }

  .foot {
    position: relative;
  }

  .foot>img {
    width: 100%;
  }

  .footer_item {
    display: inline;
    position: absolute;
    right: 22%;
    bottom: 1px;
  }

  .footer_item>a>img {
    width: 9px;
    width: 9px;
  }

  /* main内容 */
  .main {
    height: 350px;
    padding: 0px;
    width: 100%;
    /* background-color: antiquewhite; */
  }

  .main-top {
    /* background-color: rgb(112, 140, 131); */
    /* margin-top: 10px; */
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    height: 220px;
  }

  .main-foot {
    height: 180px;
    padding-left: 80px;
    /* background-color: rgb(101, 122, 122); */
  }

  .main-foot>a>img {
    width: 15px;
    height: 15px;
  }

  .left-text {
    /* background-color: aquamarine; */
    height: 170px;
    width: 300px;
    padding-top: 10px;
    padding-left:3px;
  }
  .home_title{
    font-size: 20px;
  }
  .home_title_item{
    font-size: 5px;
  }

  /* .left-text>img {
    height: 170px;
    width: 300px;
  } */

  .box_left {
    padding-top: 10px;
  }

  .main-btn {
    width: 300px;
    margin-top: 5px;
    /* background-color: blue; */
  }

  .conn_btn {
    width: 40%;
    height: 25px;
    /* background-color: blueviolet; */
  }

  .conn_btn>img {
    width: 90%;
    height: 15px;
  }

  .mate_btn {
    width: 60%;
    height: 35px;
    /* background-color: cadetblue; */
  }

  .mate_btn>img {
    width: 90%;
    height: 15px;
  }

  .img_main {
    background-color: cadetblue;
    padding: 0px;
    display: none;
  }

}

/* md (tablets, 768px(200%) and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .box_header {
    height: 60px;
    padding-right: 70px;
    background-color: transparent;
  }

  .img_logo {
    width: 150px;
    height: 80px;
    margin-left: 100px;
  }

  .navbar-nav {
    background-color: white;
    padding: 5px;
    width: 100px;
    height: 140px;
    border-radius: 10px;
    position: absolute;
    right: 12px;
  }

  .text_head_item {
    /* background-color: rgb(34, 196, 45); */
    font-size: 7px;
    width: 100%;
  }

  .text_head_item a {
    padding-left: 10px;
  }

  .home_head {
    border-top: 1px solid #777272;
    margin-top: 22px;
    width: 100%;
    /* background-color: rgb(111, 152, 240); */
    padding-top: 5px;
    padding-left: 8px;
    position: relative;
  }

  .nft_head {
    width: 100%;
    margin-top: 15px;
    padding-left: 8px;
    /* background-color: rgb(201, 181, 80); */
    position: relative;
  }

  .whitepaper_head {
    width: 100%;
    margin-top: 15px;
    padding-left: 8px;
    /* background-color: rgb(240, 111, 186); */
  }

  .home_head>a {
    padding: 0px;
  }

  .home_head>a>img {
    content: url("../images/header/home2.png");
    /* background-color: aquamarine; */
    width: 60px;
    height: 15px;
  }


  .nft_head>a {
    padding: 0px;
  }

  .nft_head>a>img {
    /* background-color: aquamarine; */
    content: url("../images/header/mint3.png");
    width: 80px;
    height: 15px;
  }

  .whitepaper_head>a {
    padding: 0px;
  }

  .whitepaper_head>a>img {
    /* background-color: aquamarine; */
    content: url("../images/header/whit3.png");
    width: 80px;
    height: 15px;
  }
  .game_head{
    display: none;

    /* background-color: rgb(90, 165, 96); */
  }

  .register {
    display: block;
    padding: 0px;
    margin-left: 0px;
    /* width:80px;
    height: 20px; */
    /* background-color: rgb(111, 240, 184); */
  }

  .register>a>img {
    width: 70px;
    height: 20px;
  }

  .navbar-nav>li>a>svg {
    width: 15px;
    height: 15px;
  }

  .toggler_icon {
    width: 45%;
    display: block;
  }

  .init_icon {
    display: none;
  }

  .foot {
    position: relative;
  }

  .foot>img {
    width: 100%;
  }

  .footer_item {
    display: inline;
    position: absolute;
    right: 22%;
    bottom: 5px;
  }

  .footer_item>a>img {
    width: 12px;
    width: 12px;
  }

  /* main内容 */
  .main {
    height: 500px;
    padding: 0px;
    width: 100%;
    /* background-color: antiquewhite; */
  }

  .main-top {
    /* background-color: rgb(112, 140, 131); */
    /* margin-top: 10px; */
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    height: 380px;
  }

  .main-foot {
    height: 180px;
    padding-left: 80px;
    /* background-color: rgb(101, 122, 122); */
  }

  .main-foot>a>img {
    width: 15px;
    height: 15px;
  }

  .left-text {
    /* background-color: aquamarine; */
    height: 250px;
    width: 400px;
    padding-top: 10px;
    padding-left:3px;
  }
  .home_title{
    font-size: 32px;
  }
  .home_title_item{
    font-size: 8px;
  }

  /* .left-text>img {
    height: 230px;
    width: 400px;
  } */

  .box_left {
    padding-top:40px;
  }

  .main-btn {
    width: 450px;
    margin-top: 10px;
    /* background-color: blue; */
  }

  .conn_btn {
    width: 40%;
    height: 35px;
    /* background-color: blueviolet; */
  }

  .conn_btn>img {
    width: 90%;
    height: 25px;
  }

  .mate_btn {
    width: 60%;
    height: 35px;
    /* background-color: cadetblue; */
  }

  .mate_btn>img {
    width: 90%;
    height: 25px;
  }

  .img_main {
    /* background-color:cadetblue; */
    padding: 0px;
    display: none;
  }
}

/* lg (desktops, 992px (175%)and up) */
@media (min-width: 992px) {
  .box_header {
    /* background-color: transparent; */
    height: 30px;
    padding-right: 70px;
  }

  .navbar-nav {
    /* background-color: rgba(0, 0, 0, 0); */
    padding: 0px;
    width: 100%;
    height: 100%;
    justify-content: end;
  }

  .img_logo {
    width: 180px;
    height: 100px;
    margin-left: 110px;
  }

  .text_head_item {
    font-size: 10px;
  }

  .home_head {
    width: 12%;
    height: 25px;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;

    position: relative;
  }

  .home_head>a {
    padding: 0px;
  }

  .home_head>a>img {
    width: 50px;
    height: 25px;
  }

  .nft_head {
    width: 21%;
    height: 25px;
    position: relative;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .nft_head>a {
    padding: 0px;
  }

  .nft_head>a>img {
    width: 100px;
    height: 25px;
  }

  .whitepaper_head {
    width: 21%;
    height: 25px;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .whitepaper_head>a {
    padding: 0px;
  }

  .whitepaper_head>a>img {
    width: 100px;
    height: 25px;
  }
  .game_head{
    width: 21%;
    height: 25px;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;
    display: block;

    /* background-color: rgb(90, 165, 96); */
  }
  .game_head>a{
    padding: 0px;
  }
  .game_head>a>img{
    /* background-color: aquamarine; */
    /* content: url("../images/header/whit1.png"); */
    width: 100px;
    height: 25px;
  }

  .register {
    display: none;
  }

  .navbar-nav>li>a>svg {
    width: 30px;
    height: 30px;
  }

  .toggler_icon {
    width: 0px;
    display: none;
  }

  .init_icon {
    height: 25px;
    width: 5%;
    margin-top: 3px;
    display: flex;
    align-items: center;
  }
  .init_icon>a >img{
    width: 80%;
    height: 80%;
    /* background-color: burlywood; */
  }

  .foot {
    position: relative;
  }

  .foot>img {
    width: 100%;
  }

  .footer_item {
    display: inline;
    position: absolute;
    right: 22%;
    bottom: 8px;
  }

  .footer_item>a>img {
    width: 15px;
    width: 15px;
  }

  /* main内容 */
  .main {
    height: 520px;
    width: 100%;
    padding: 0px;
    /* background-color: antiquewhite; */
  }

  .main-top {
    /* background-color: rgb(112, 140, 131); */
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 60px;
    width: 100%;
    height: 450px;
  }

  .main-foot {
    height: 180px;
    padding-left: 80px;
    /* background-color: rgb(101, 122, 122); */
  }

  .main-foot>a>img {
    width: 20px;
    height: 20px;
  }

  .left-text {
    /* background-color: aquamarine; */
    height: 250px;
    width: 400px;
    padding-top: 10px;
    padding-left: 5px;
  }
  .home_title{
    font-size: 32px;
  }
  .home_title_item{
    font-size: 8px;
  }

  /* .left-text>img {
    height: 250px;
    width: 400px;
  } */

  .box_left {
    padding-top: 80px;
  }

  .main-btn {
    width: 450px;
    margin-top: 10px;
    /* background-color: blue; */
  }

  .conn_btn {
    width: 40%;
    height: 35px;
    /* background-color: blueviolet; */
  }

  .conn_btn>img {
    width: 90%;
    height: 30px;
  }

  .mate_btn {
    width: 60%;
    height: 35px;
    /* background-color: cadetblue; */
  }

  .mate_btn>img {
    width: 90%;
    height: 30px;
  }

  .img_main {
    /* background-color:cadetblue; */
    padding: 0px;
  }

  .img_btn {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
  }

  .img_btn>a>img {
    width: 200px;
    height: 40px;
  }
  .img_rig{
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .img_rig>video {
    width: 280px;
    height: 160px;
    position: relative;
    top: 48px;
    /* margin: 15px;
    margin-bottom: 30px; */
  }

}

/* xl devices (large desktops, 1200px (100%) and up) */
@media (min-width: 1200px) {

  /* header */
  .box_header {
    /* background-color: transparent; */
    height: 40px;
    padding-top: 0px;
    padding-right: 90px;
    width: 100%;
    /* background-color: aquamarine; */
  }

  .navbar-nav {
    padding: 0px;
    width: 100%;
    height: 100%;
    justify-content: end;
  }

  .img_logo {
    width: 280px;
    height: 160px;
    margin-left: 200px;
  }


  .home_head {
    width: 12%;
    height: 100%;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
  }

  .home_head>a {
    padding: 0px;
  }

  .home_head>a>img {
    width: 70px;
    height: 32px;
  }

  .nft_head {
    width: 21%;
    height: 100%;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;
    position: relative;

  }

  .nft_head>a {
    padding: 0px;
  }

  .nft_head>a>img {
    width: 120px;
    height: 32px;
  }

  .whitepaper_head {
    width: 21%;
    height: 40px;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;

  }

  .whitepaper_head>a {
    padding: 0px;
  }

  .whitepaper_head>a>img {
    width: 125px;
    height: 32px;
  }
  .game_head{
    width: 21%;
    height: 40px;
    border-top: 0px;
    margin-top: 0px;
    padding: 0px;
    display: block;

    /* background-color: rgb(90, 165, 96); */
  }
  .game_head>a{
    padding: 0px;
  }
  .game_head>a>img{
    /* background-color: aquamarine; */
    /* content: url("../images/header/whit1.png"); */
    width: 120px;
    height: 32px;
  }
  .register {
    display: none;
  }

  .navbar-nav>li>a>svg {
    width: 40px;
    height: 40px;
  }

  .toggler_icon {
    width: 0px;
    display: none;
  }

  .init_icon {
    height: 100%;
    width: 5%;
    margin-top: 3px;
    display: flex;
    align-items: center;
  }
  .init_icon>a >img{
    width: 90%;
    height:  90%;
    /* background-color: burlywood; */
  }

  .foot {
    position: relative;
  }

  .foot>img {
    width: 100%;
  }

  .footer_item {
    display: inline;
    position: absolute;
    right: 25%;
    bottom: 10px;
  }

  .footer_item>a>img {
    width: 25px;
    width: 25px;
  }

  /* main内容 */
  .main {
    height: 900px;
    padding: 0px;
    width: 100%;
    /* background-color: antiquewhite; */
  }

  .main-top {
    /* background-color: rgb(112, 140, 131); */
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 90px;
    width: 100%;
    height: 800px;
  }

  .main-foot {
    height: 180px;
    padding-left: 100px;
    /* background-color: rgb(101, 122, 122); */
  }

  .main-foot>a>img {
    width: 35px;
    height: 35px;
  }

  .left-text {
    /* background-color: aquamarine; */
    height: 450px;
    width: 700px;
    padding-top: 30px;
    padding-left: 20px;
  }
  .home_title{
    font-size: 70px;
  }
  .home_title_item{
    font-size: 13px;
  }


  /* .left-text>img {
    height: 450px;
    width: 700px;
  } */

  .img_btn {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .img_btn>a>img {
    width: 350px;
    height: 80px;
  }
  .img_rig{
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .img_rig>video {
    width: 340px;
    height: 220px;
    position: relative;
    top: 78px;
    /* margin: 15px;
    margin-bottom: 30px; */
  }

  .box_left {
    padding-top: 100px;
  }

  .main-btn {
    width: 750px;
    margin-top: 20px;
    /* background-color: blue; */
  }

  .conn_btn {
    width: 40%;
    height: 50px;
    /* background-color: blueviolet; */
  }

  .conn_btn>img {
    width: 90%;
    height: 45px;
  }

  .mate_btn {
    width: 60%;
    height: 50px;
    /* background-color: cadetblue; */
  }

  .mate_btn>img {
    width: 90%;
    height: 45px;
  }

  /* .img_main{
    background-color: antiquewhite;
  } */
}